ANTHROPIC_API_KEY=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
DATABASE_URL=postgresql://postgres:[Cloudgoogle@2##4]@db.zrwcxrarehfyiweeghfg.supabase.co:5432/postgres
PORT=8080
NODE_ENV=production
